

.admin_edit_box{
  position: relative;
  border: 1px dashed #17a2b8;
  margin-bottom: -1px;
  min-height: 33px;
}
.admin_edit_link{
  position: absolute;
  right:  0;
  bottom: 0;
  z-index: 2000;
}
.admin_edit_box:hover{
  border: 1px dashed #dc3545;
  z-index: 1000;
}
.admin_edit_box:hover .admin_edit_link{
  color: #dc3545;
}




.cms_footer_box{
  /*background: #343a40;*/
  background: rgba(0,0,0,0.8);
}
.footer_copyright{
  text-align: left;  
  padding-bottom: 15px;
  font: 400 14px/18px  RobotoRegular, Arial, sans-serif;
}
.footer_i{
  text-align: right;
}
.inri_box_line{
  text-align: right;  
}
.inri_box{
  padding-top: 15px;
  text-align: right;
} 
.inri_box span {
  display: inline-block;
  float: left;
  padding-right: 7px;
  padding-top: 17px;
}
.inri_box > span > a{
  color: #ffffff;
  text-decoration: none;
  font-size: 14px;
}
.inri_box > span > a:hover{
  color: #f7a421;
  text-decoration: underline;
}
.inri_box a b {
  display: inline-block;
  /*margin: 0 0 0 11px;*/
  /*max-width: 60px;*/
  max-width: 32px;
  padding-top: 2px;
  overflow: hidden;
}
.inri_box{
  max-width: 170px;
  display: inline-block;
  fill: #ffffff !important;
}
.inri_box a:hover b .inri_item {
  fill: #f7a421 !important;
}
.inri_box a:hover b {
  /*  background-position: 0 0;*/
}
.inri_box a b svg{
    width: 100%;
    height: 45px;  
}
@media (max-width: 768px) {
  .footer_copyright{
    text-align: center;  
  }
  .footer_d{
    text-align: center;
  }  
}